body {
  font-family: "Lato", sans-serif;
  transition: background-color 0.5s;
  margin: 10px;
}

.header {
  width: 99%;
  position: fixed;
}
#left {
  float: left;
  width: 20%;
  height: 40px;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: left;
}

#center {
  float: left;
  width: 60%;
  height: 40px;

  padding: 0;
  display: flex;
  align-items: center;
}

#right {
  float: right;
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bars {
  font-size: 20px;
  cursor: pointer;
  height: 20px;
}
#youtubelogo {
  height: 20px;
  padding-left: 10px;
  width: 60%;
}
#txtsearch {
  width: 70%;
  height: 90%;
  border: 1px solid #cccccc;
}
#iconsearch {
  border: 1px solid #cccccc;
  background-color: #f0f0f0;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
}
#iconvoice {
  border: none;
  background-color: #f9f9f9;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin-left: 5px;
}
#icongrid {
  border: none;
  background-color: transparent;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
}
#dots {
  border: none;
  background-color: transparent;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
}
#connect {
  height: 100%;
  width: 80%;
  color: #196bd7;
  font-size: 18px;
  background-color: transparent;
  border-color: #196bd7;
  border-radius: 4px;
  border-width: 1px;
  text-align: center;
  padding: 0px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
