body {
  margin: 0;
}

.container-grid {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    " middle middle middle middle middle right";
}
.logo {
  margin-left: 10px;
  display: table-cell;
}

.header {
  grid-area: header;
  text-align: left;
  font-size: 35px;
  height: 50px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  padding-bottom: 20px;
  margin-top: 20px;
}
.input {
  justify-content: center;
  display: flex;
}
.leftside {
  text-align: right;
  margin-right: 10px;
}
.middle,
.right {
  padding-top: 10px;
  /* Should be removed. Only for demonstration */
  height: calc(100vh - 33%);
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */

.youtubelogo {
  width: 90px;
}

.menu-bars {
  width: 30px;
  margin-top: 0;
}
#profilepic {
  margin-top: 8px;
  margin-left: 20px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;

  background-image: url(profilepicture.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
#btnsearch {
  margin-top: 8px;
  border: 1px solid #c6c6c6;
  background-color: #f9f9f9;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 60px;
  background-image: url(assets/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35%;
}
#btnsearch:hover {
  background-color: #f0f0f0;
}
#btnmic {
  margin-top: 8px;
  margin-left: 20px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;

  background-image: url(assets/mic.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}
#btnvid {
  margin-top: 8px;
  border: none;
  background-color: transparent;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 60px;
  background-image: url(assets/videocam.png);
  background-repeat: no-repeat;
  background-position: center center;
}
#btngrid {
  margin-top: 8px;
  border: none;
  background-color: transparent;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 60px;
  background-image: url(assets/grid.png);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: 100%; */
}
#btnbell {
  margin-top: 8px;
  border: none;
  background-color: transparent;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  height: 40px;
  width: 60px;
  background-image: url(assets/bell.png);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: 50%; */
}
#txtsearch {
  width: 60%;
  height: 37px;
  border: 1px solid #cccccc;
  margin-top: 8px;
  border-radius: 2px;
  padding-top: 0px;
}
#txtsearch:focus {
  border-color: #196bd7;
  outline: none;
  border-radius: 2px;
}
#youtubevideo {
  width: 90%;
  height: 80%;
  overflow: hidden;
  position: relative;
  margin-left: 60px;
}
#frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#title {
  line-height: 50px;
  margin-left: 60px;
  font-size: 18px;
}
#views {
  margin-left: 60px;
  font-size: 14px;
  color: gray;
}

.interactions {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-left: 60px;
}
.leftinter {
  font-size: 14px;
  color: gray;
}
.inter {
  margin-left: 20px;
  cursor: pointer;
}
hr {
  width: 90%;
  margin-left: 60px;
}
.right {
  grid-area: right;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 1fr);
  justify-content: space-between;
  align-content: flex-start;
}
